body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.degreeName {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.col-sm-9 {
  text-align: left;
}
.modal-dialog {
  max-width: 60% !important;
}

#root {
  height: 100vh;
  width: calc(100% - 400px);
  float: right;
  position: relative;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 70% !important;
    margin: 1.75rem auto;
  }
}